@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

* {
	font-family: "Roboto", sans-serif
}

:root {
	color-scheme: light dark;
	--fg: #DDDDDD;
	--bg: #181818;
	--bg-bright: #202020;
	--highlight: #404040;

	--color-first: linear-gradient(23deg,
		rgba(255, 208, 0, 1) 0%,
		rgba(255, 208, 0, 1) 25%,
		rgba(255, 255, 250, 1) 100%
	);

	--color-second: linear-gradient(23deg,
		rgb(198 225 237) 0%,
		rgb(198 225 237) 25%,
		rgba(255, 255, 250, 1) 100%
	);

	--color-third: linear-gradient(23deg,
		rgb(182 120 54) 0%,
		rgb(182 120 54) 25%,
		rgba(255, 255, 250, 1) 100%
	);
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--fg);
	background: var(--bg);
	background-size: 200px;
}

h1 {
	width: 100%;
	text-align: center;
	padding-block: 20px;
	background: var(--bg-bright);
	font-size: 30px;
	margin: 0 0 50px 0;
}
